<div ng-transclude class="hidden">
</div>
<div class="form-group">
    <div ng-show="vm.predefinedVisible" class="input-group input-group-sm">
        <select class="form-control input-sm" style="width: 225px" ng-options="option.name for option in vm.predefinedOptions" ng-model="vm.selectedPredefined">
            <option value="">-- Choose a predefined filter --</option>
        </select>
        <span class="input-group-btn">
            <button ng-disabled="vm.selectedPredefined === null" ng-click="vm.addPredefinedFilter()" class="btn btn-default" type="button">
                <i class="fa fa-plus"></i>
            </button>
        </span>
    </div>
    <div ng-show="vm.propertyVisible" class="input-group input-group-sm">
        <select class="form-control" style="width: 200px" ng-options="option.name for option in vm.propertyOptions" ng-model="vm.selectedProperty">
            <option value="">-- Field --</option>
        </select>
        <select class="form-control" style="width: 200px" ng-disabled="vm.selectedProperty === null" ng-options="option for option in vm.getOperators()" ng-model="vm.selectedProperty.operator">
            <option value="">-- Operator --</option>
        </select>
        <input ng-if="vm.selectedProperty.type === 'string' || vm.selectedProperty.type === undefined" class="form-control" style="width: 200px" ng-disabled="vm.selectedProperty === null" type="text" placeholder="Value" ng-model="vm.selectedProperty.value" />
        <input ng-if="vm.selectedProperty.type === 'int32' || vm.selectedProperty.type === 'number'" class="form-control" style="width: 200px" ng-disabled="vm.selectedProperty === null" type="number" placeholder="Value" ng-model="vm.selectedProperty.value" />
        <select ng-if="vm.selectedProperty.type === 'bool' || vm.selectedProperty.type === 'boolean'" ng-disabled="vm.selectedProperty === null" style="width: 200px" ng-init="vm.selectedProperty.value = vm.selectedProperty.value || 'true'"  ng-model="vm.selectedProperty.value" class="form-control" ><option>true</option><option>false</option></select>
        <date-time-picker ng-if="vm.selectedProperty.type === 'date' || vm.selectedProperty.type === 'datetime'" ng-disabled="vm.selectedProperty === null" style="width: 200px" ng-model="vm.selectedProperty.value" datetime-format="MM/DD/YYYY h:mm A"></date-time-picker>
        <span class="input-group-btn">
            <button ng-click="vm.addPropertyFilter()" ng-disabled="vm.selectedProperty === null || vm.selectedProperty.operator === undefined || vm.selectedProperty.operator === null" class="btn btn-default" type="button">
                <i class="fa fa-plus"></i>
            </button>
        </span>
    </div>
    <span>
        <button ng-show="vm.enablePredefinedFiltering" class="btn btn-sm btn-default" ng-click="vm.showPredefinedFiltering()">Predefined</button>
        <button ng-show="vm.predefinedVisible" class="btn btn-sm btn-default" ng-click="vm.showPropertyFiltering()">Property</button>
    </span>
    <button class="btn btn-sm btn-default" ng-click="vm.clearAll()">Clear All</button>
</div>
<div class="tag-container">
    <span ng-repeat="filter in vm.predefinedFilters">
        <span class="tag label label-info">
            <span>{{filter.name}}</span>
            <a ng-click="vm.removePredefinedFilter(filter)"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
        </span>
    </span>
    <span ng-repeat="filter in vm.propertyFilters">
        <span class="tag label label-default">
            <span>{{filter.name}} {{filter.operator}} '{{filter.value}}'</span>
            <a ng-click="vm.removePropertyFilter(filter)"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
        </span>
    </span>
</div>

